.user-status-block .btn-user-status-add-list.watch-online-button,
.status-unit .btn-user-status-add-list.watch-online-button {
  font-weight: bold;
  background-color: #c84f4f !important;
  border-color: #c84f4f !important;
  margin-left: 10px;
  margin-right: 10px;
  
	border-radius: 4px;
	color: #fff!important;
	cursor: pointer;
	display: inline-block;
	font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	line-height: 1.0em;
	margin: 0 auto;
	opacity: 1;
	padding: 6px 12px 6px 24px;
	position: relative;
	text-align: left;
}

.user-status-block .btn-user-status-add-list.watch-online-button:after,
.status-unit .btn-user-status-add-list.watch-online-button:after {
  content: "\f06e" !important;
	display: block;
	font-family: FontAwesome;
	font-size: 11px;
	left: 8px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
}

.anime-detail .status-unit.four-columns .status {
  width: calc(100%/4);
}